@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background: black;
}
h1,
h2,
h3,
p,
li {
  font-family: "Sen", sans-serif;
}
input,
textarea {
  background: #181823 !important;
  border: none !important;
  color: rgb(10, 204, 243) !important;
}
img {
  max-width: 100%;
}
.custom-nav {
  position: fixed;
  width: 100%;
}
/* .nav-item:last-child {
    background: #5221e6;
} */
.nav-item:hover {
  background: #4cd607;
}
nav {
  border-top: 5px solid #5221e6;
}
.hero {
  margin-top: 5%;
}
.heroSection {
  height: 100vh;
}
.heroSection .custom-bg {
  background: #17171f;
}
.heroSection h1 {
  font-size: 60px;
}
.heroSection h1 span {
  color: rgba(182, 4, 4, 0.953);
}
.heroSection p {
  font-size: 18px;
}
.heroSection .hero-image {
  position: relative;
  left: 30%;
  top: 10%;
}
.heroSection .intro {
  position: relative;
  /* z-index: 999; */
}
.work h2,
.blog h2,
.skills h2,
.contact h2 {
  font-size: 55px;
}
.work p,
.projects p {
  color: #8491a0;
}
.work .number-head {
  font-size: 113px;
  color: #8491a0;
  line-height: initial;
}
.work .sub-head {
  font-size: 24px;
}
.work .google {
  color: #3cc74e;
}
.work .facebook {
  color: #609bff;
}
.blog .custom-bg {
  background: #fff3e4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.blog .custom-bg p,
.social-media .custom-bg p {
  color: #5b6876;
  font-size: 20px;
}
.blog a,
.social-media a {
  padding: 10px 0px;
  text-decoration: none;
  border-bottom: 1px solid;
  color: #5b6876;
  font-size: 18px;
}
.blog a:hover {
  background-color: #5221e6;
  color: white;
  padding: 20px 20px;
  border-bottom: none;
}
.social-media a:hover {
  background-color: #5221e6;
  color: white;
  padding: 20px 20px;
  border-bottom: none;
}
.skills p,
.contact p,
footer p {
  color: rgb(121, 134, 149);
}
.social-media .custom-bg {
  background: #fbe4ff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.projects h3 {
  font-size: 55px;
  font-weight: 700;
}
.projects .heading .ending {
  height: max-content;
}
.projects .custom-bg {
  background-color: #17171f;
}
.projects .card h5 {
  font-size: 28px;
  font-weight: bold;
}
.projects .card .description {
  font-size: 22px;
  color: #8491a0;
}
.projects .card a {
  background-color: #5221e6;
}
.projects .ending {
  border: #5221e6;
  display: block;
  text-align: center;
}
.projects .ending > a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #5221e6;
  cursor: pointer;
}
.ending > a:hover {
  background-color: #5221e6;
}
.ending {
  position: absolute;
}
.contact button {
  background: #ff9705;
  border: none;
}
footer {
  background: #181823;
}
footer ul li {
  list-style: none;
  color: rgb(236, 10, 187);
}
.whatsapp {
  font-size: 24px;
  padding-left: 0.5%;
}
html {
  scroll-behavior: smooth;
}
#home,
#about,
#projectss,
#contacts {
  color: #f10dd2;
  text-decoration: none;
}
#home:hover,
#about:hover,
#projectss:hover,
#contacts:hover {
  text-decoration: underline;
  scroll-behavior: smooth;
}
/* scroll button */
#scroll {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 45px;
  /* background: #0f55bd; */
  padding: 7px 10px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  /* border: 1px solid #0D47A1; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
#scroll:hover {
  transition: 0.5s;
  background-color: #5b6876;
}

@media (max-width: 800px) {
  .heroSection {
    height: auto;
  }
  .heroSection h1 {
    font-size: 36px;
  }
  .heroSection .hero-image {
    position: static;
    left: 0;
    top: 0;
  }
  .work h2,
  .blog h2,
  .skills h2,
  .contact h2 {
    font-size: 25px;
  }
  .work .number-head {
    font-size: 73px;
  }
  nav {
    background: #5221e6;
  }
  .nav-item:last-child {
    background: transparent;
  }
  .card {
    position: static;
  }
  .gap {
    margin-right: 0;
  }
}
